/* Variable fonts usage:
:root { font-family: "Inter", sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: "InterVariable", sans-serif; font-optical-sizing: auto; }
} */

/* static fonts */
@font-face { font-family: "Inter"; font-style: normal; font-weight: 300; font-display: swap; src: url("https://suhang12332.github.io/Swift-Craft-Launcher-Assets/web/v4/assets/fonts/inter/Inter-Light.woff2") format("woff2"); }
@font-face { font-family: "Inter"; font-style: normal; font-weight: 400; font-display: swap; src: url("https://suhang12332.github.io/Swift-Craft-Launcher-Assets/web/v4/assets/fonts/inter/Inter-Regular.woff2") format("woff2"); }
@font-face { font-family: "Inter"; font-style: normal; font-weight: 500; font-display: swap; src: url("https://suhang12332.github.io/Swift-Craft-Launcher-Assets/web/v4/assets/fonts/inter/Inter-Medium.woff2") format("woff2"); }
@font-face { font-family: "Inter"; font-style: normal; font-weight: 600; font-display: swap; src: url("https://suhang12332.github.io/Swift-Craft-Launcher-Assets/web/v4/assets/fonts/inter/Inter-SemiBold.woff2") format("woff2"); }
@font-face { font-family: "Inter"; font-style: normal; font-weight: 700; font-display: swap; src: url("https://suhang12332.github.io/Swift-Craft-Launcher-Assets/web/v4/assets/fonts/inter/Inter-Bold.woff2") format("woff2"); }