/* 苹方-简体 */
@font-face {
    font-family: 'PingFang SC';
    src: url('https://suhang12332.github.io/Swift-Craft-Launcher-Assets/web/v4/assets/fonts/pingfang/PingFangSC-Light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'PingFang SC';
    src: url('https://suhang12332.github.io/Swift-Craft-Launcher-Assets/web/v4/assets/fonts/pingfang/PingFangSC-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'PingFang SC';
    src: url('https://suhang12332.github.io/Swift-Craft-Launcher-Assets/web/v4/assets/fonts/pingfang/PingFangSC-Medium.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'PingFang SC';
    src: url('https://suhang12332.github.io/Swift-Craft-Launcher-Assets/web/v4/assets/fonts/pingfang/PingFangSC-Semibold.otf') format('opentype');
    font-weight: 600;
}


/* 苹方-繁体 */
@font-face {
    font-family: 'PingFang TC';
    src: url('https://suhang12332.github.io/Swift-Craft-Launcher-Assets/web/v4/assets/fonts/pingfang/PingFangTC-Light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'PingFang TC';
    src: url('https://suhang12332.github.io/Swift-Craft-Launcher-Assets/web/v4/assets/fonts/pingfang/PingFangTC-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'PingFang TC';
    src: url('https://suhang12332.github.io/Swift-Craft-Launcher-Assets/web/v4/assets/fonts/pingfang/PingFangTC-Medium.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'PingFang TC';
    src: url('https://suhang12332.github.io/Swift-Craft-Launcher-Assets/web/v4/assets/fonts/pingfang/PingFangTC-Semibold.otf') format('opentype');
    font-weight: 600;
}